:root {
  --primary: rgb(20, 0, 132);
  --surface-tint: rgb(78, 71, 220);
  --on-primary: rgb(255, 255, 255);
  --primary-container: rgb(51, 38, 195);
  --on-primary-container: rgb(255, 255, 255);
  --secondary: rgb(61, 60, 120);
  --on-secondary: rgb(255, 255, 255);
  --secondary-container: rgb(111, 110, 174);
  --on-secondary-container: rgb(255, 255, 255);
  --tertiary: rgb(68, 0, 80);
  --on-tertiary: rgb(255, 255, 255);
  --tertiary-container: rgb(115, 26, 130);
  --on-tertiary-container: rgb(255, 255, 255);
  --error: rgb(140, 0, 9);
  --on-error: rgb(255, 255, 255);
  --error-container: rgb(218, 52, 46);
  --on-error-container: rgb(255, 255, 255);
  --background: rgb(252, 248, 255);
  --on-background: rgb(27, 27, 35);
  --surface: #fcf8ff;
  --on-surface: rgb(27, 27, 35);
  --surface-variant: rgb(227, 224, 244);
  --on-surface-variant: rgb(66, 65, 81);
  --outline: rgb(95, 93, 110);
  --outline-variant: rgb(123, 121, 138);
  --shadow: rgb(0, 0, 0);
  --scrim: rgb(0, 0, 0);
  --inverse-surface: rgb(48, 47, 57);
  --inverse-on-surface: rgb(243, 239, 252);
  --inverse-primary: rgb(195, 192, 255);
  --primary-fixed: rgb(101, 96, 243);
  --on-primary-fixed: rgb(255, 255, 255);
  --primary-fixed-dim: rgb(76, 68, 217);
  --on-primary-fixed-variant: rgb(255, 255, 255);
  --secondary-fixed: rgb(111, 110, 174);
  --on-secondary-fixed: rgb(255, 255, 255);
  --secondary-fixed-dim: rgb(87, 85, 147);
  --on-secondary-fixed-variant: rgb(255, 255, 255);
  --tertiary-fixed: rgb(170, 80, 182);
  --on-tertiary-fixed: rgb(255, 255, 255);
  --tertiary-fixed-dim: rgb(141, 54, 155);
  --on-tertiary-fixed-variant: rgb(255, 255, 255);
  --surface-dim: rgb(220, 216, 229);
  --surface-bright: rgb(252, 248, 255);
  --surface-container-lowest: rgb(255, 255, 255);
  --surface-container-low: rgb(245, 242, 255);
  --surface-container: rgb(240, 236, 249);
  --surface-container-high: rgb(234, 230, 243);
  --surface-container-highest: rgb(228, 225, 237);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--background);
  color: var(--on-background);
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  color: var(--primary);
  text-align: center;
  margin-top: 20px;
}

p {
  font-size: 1.2em;
  text-align: center;
  margin: 10px 0;
  color: var(--on-background);
}

/* Form Styles */
form {
  margin: 20px 0;
}

input[type="file"] {
  padding: 10px;
  border: 1px solid var(--outline-variant);
  border-radius: 5px;
  margin-top: 10px;
  background-color: var(--surface);
}

#analyse {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

#downloadBtn {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px 15px;
  text-decoration: none;
}

button {
  border: none;
}

#analyse:hover,
#downloadBtn:hover {
  background-color: var(--primary);
  color: var(--on-primary);
}

/* Table Container Styles */
#TableContainer {
  margin-top: 20px;
  width: 100%;
  overflow-x: auto;
  border-radius: 5px;
}

thead td.listing-table__header {
  background-color: var(--primary-container) !important;
  color: var(--on-primary-container) !important;
}

/* Base Styles for Listing Table */
.listing-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--surface);
  letter-spacing: 1px;
  padding: 20px;
}

.listing-table tr {
  border-bottom: 1px solid var(--outline);
  color: var(--on-surface);
}

.listing-table th {
  background-color: var(--primary);
  color: var(--on-primary);
  padding: 13px 10px;
  text-align: left;
}

.listing-table td {
  padding: 20px 10px;
  text-align: left;
  background-color: var(--surface-bright);
  font-size: 0.8rem;
}

.listing-table tr:nth-child(even) td {
  background-color: var(--surface-container-low);
}

.listing-table tr:nth-child(odd) td {
  background-color: var(--surface-container);
}

/* Action Button Styles */
.listing-table button {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--on-surface);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.listing-table button:hover {
  color: var(--primary);
}

.hidden {
  display: none !important;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .listing-table th,
  .listing-table td {
    padding: 10px 5px;
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .listing-table {
    table-layout: fixed;
    width: 100%;
  }

  .listing-table__check,
  .listing-table__name,
  .listing-table__header:nth-child(1),
  .listing-table__header:nth-child(2) {
    position: sticky;
    left: 0;
    z-index: 1;
  }

  .listing-table .listing-table__header:nth-child(2),
  .listing-table .listing-table__name {
    left: 60px;
  }

  .listing-table .listing-table__header:nth-child(3),
  .listing-table .listing-table__email {
    min-width: 20rem;
  }

  .listing-container {
    overflow-x: auto;
  }
}
